---
import Footer from "@/components/layout/Footer.astro";
import Sidebar from "@/components/layout/Sidebar";
import Layout from "./Layout.astro";

interface Props {
	title?: string;
	description?: string;
	ogImage?: string;
	ogType?: "website" | "article";
	canonical?: string;
	noindex?: boolean;
	fullWidth?: boolean;
	articleDate?: Date;
	articleModified?: Date;
	section?: string;
}

const {
	fullWidth = false,
	ogType = "website",
	ogImage,
	articleDate,
	articleModified,
	section,
	...layoutProps
} = Astro.props;
---

<Layout
	{...layoutProps}
	ogImage={ogImage}
	ogType={ogType}
	articleDate={articleDate}
	articleModified={articleModified}
	section={section}
>
	<Sidebar client:only="react" transition:persist />
	<main
		id="page-content"
		class:list={["flex-1 pt-[3em]", fullWidth ? "" : "page-container"]}
	>
		<slot />
	</main>
	<Footer />
</Layout>
